@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Code Pro", monospace; 
    font-size: medium;
}
body{
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
section{
    width: 70%;
}
#search_container{
    display: flex;
    align-items: center;
}
#input_id{
    width: 100%;
    padding: 10px 0 10px 40px;
}
.space{
    width: 100%;
    padding: 10px 0 10px 40px;
    border: none;
    border-radius: 20px;
    outline:none;
}
.space_var{
    width: 100%;
    padding: 10px 0 10px 40px;
    border: none;
    border-radius: 20px 20px 0 0;
    outline:none;
}
#input_id:hover{
    background-color: rgb(233, 233, 233);
}
ul{
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    border-radius: 0 0 20px 20px;
    overflow: hidden;
}
li{
    padding: 10px 0px 10px 40px;
}
li:hover{
    background-color: #d5e8ff;
}

svg{
    position: absolute;
    margin-left: 10px;
}